.cart__container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 9999;
}
.cart{
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: #fff;
    z-index: 99999;
}
.cart__close{
    width: 100%;
    height: 50px;
    padding: 10px 20px;
}
.cart_item-list{
    height: calc(100vh - 130px);
    overflow-y: scroll;
}
.cart__close span{
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}
.cart__bottom{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px 20px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #AC0C0C;
}
.cart__bottom h6{
    font-size: .7rem;
    color: #fff;
}
.cart__bottom h6 span{
    font-size: .9rem;
    font-weight: 600;
}
.cart__bottom button{
    border: none;
    padding: 7px 13px;
    background-color: #fff;
}
.cart__bottom button a{
    color: #212245;
    font-weight: 600;
}
.empty__msg{
    margin-top: 40px;
}